.app{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #c0c0c0;
    
}

h1{
    font-size: 70px;

}

h2{
    margin-top:  28px;
}

span{
    font-size: 28px;
    margin:  12px 0;

}

.area-input{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.area-input input{
    width: 100%;
    margin-bottom: 12px;
    height: 46px;
    background-color: #121212;
    border: 0;
    border-radius: 7px;
    color: #FFF;
    padding: 0 12px;
    font-size:  18px;

}

.area-input button{
    width: 100%;
    height: 46px;
    background-color: #357AFF;
    border: 0;
    border-radius: 7px;
    color: #FFF;
    font-size:  18px;

}

@media only screen and (max-device-width: 570px) {
     .app{ 
         width:100%;
         height: 100vh; 
    }

    h1{
        width: 100%;
        font-size: 35px;

    }

    h2{
        width: 80%
    }

    span{
        font-size: 22px;
        margin:  18px 0;
    }

    .area-input{
        width: 75%;
    }

    .area-input input{
        height: 46px;
        margin-bottom: 22px;
    }

    .area-input button{
        width: 50%;
        height: 60px;
    }

}